{%  extends 'layout/basetheme.html' %}
{% block container %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="card">
                    <article class="card-body">
                        <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
                        <hr>

                        {% if errors %}
                            <p class="text-danger text-center">{{ errors }}</p>
                        {% endif %}

                        <p class="text-success text-center">Login With Your Credentials</p>
                        <form method="post">
                            <!-- form-group// -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input name="username" class="form-control" placeholder="username" type="text">
                                </div> <!-- input-group.// -->
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input name="pwd" class="form-control" placeholder="******" type="password">
                                </div> <!-- input-group.// -->
                            </div>

                            <!-- form-group// -->

                            <button type="submit" class="btn btn-primary">Submit</button>

                            <!-- form-group// -->
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}